
@{
    ViewData["Title"] = "Profile";
}

<div class="container p-4">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4 d-flex justify-content-around">
                <img src="https://www.pngall.com/wp-content/uploads/5/User-Profile-PNG-Clipart.png"
                     alt="stack photo" class="img" width="200">
            </div>
            <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                <div class="container d-flex align-items-end" style="border-bottom:1px solid black">
                    <h2 class="my-3">הדס אדם</h2>
                </div>
                <hr>
                <ul class="container detailList list-unstyled">
                    <li class="mb-1 justify-content-start row">
                        <i class="fas fa-phone-alt ml-4 text-black-50"></i>
                        <p>+91 90000 00000</p>
                    </li>
                    <li class="mb-1 justify-content-start row">
                        <i class="far fa-envelope ml-4 text-black-50"></i>
                        <p>somerandom@email.com</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex justify-content-end row">
            <button class="btn edit-profile-button mx-2"><span><i class="far fa-edit ml-2"></i></span>עריכת פרופיל</button>
            <button class="btn edit-profile-button mx-2"><span><i class="fas fa-sign-out-alt ml-2"></i></span>התנתק</button>
        </div>
    </div>
</div>

