h1.logo-title {
    color: black;
    font-size: 44px;
}

input.search-font {
    font-size: 20px;
    color:grey
}

a:hover {
    text-decoration:none;
}

.header-background {
    background-color: rgb(182,137,115)
}
