/************************** LAYOUT CSS **************************/

* {
    font-family: Rubik;
    direction: rtl;
}

.navbar-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    text-align: right;
    min-width: 380px;
}

h1.navbar-title-text {
    color: #1e212d;
    font-size: 33px;
    padding-top: 10px;
    text-align: center;
}

.navbar-title-image {
    max-height: 70px;
    max-width: 30%;
}

input.navbar-search-input {
    font-size: 20px;
    color: grey;
    text-align: right;
}

i.search-icon, i.account-icon {
    cursor: pointer;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    padding: 0 4px;
    display: inline-block;
}

i.search-icon {
    background-image: url(../lib/pictures/search.png);
}

i.account-icon {
    background-image: url(../lib/pictures/login.png)
}

a:hover {
    text-decoration: none;
}

.header {
    display: flex;
    background-color: #b68973;
}

.header-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
}

.cart-container {
    cursor: pointer;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    bottom: 15%;
    left: 1%;
    background-color: #1e212d;
    padding: 15px;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 0.2s;
}
.cart-container:hover{
    transform: scale(1.2);
}

i.cart-container-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../lib/pictures/cart.png);
    width: 50px;
    height: 50px;
}

span.cart-container-number {
    font-style: normal;
    color: #1e212d;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eabf9f;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    box-sizing: border-box;
}

.footer-container {
    position: fixed;
    bottom: 0px;
    background-color: #1e212d;
    padding: 15px;
    width: 100%;
}

.footer-about-button {
    background-color: #b68973;
    color: #fff;
}

/************************** CART CSS **************************/

.payment-info {
    background: #1e212d;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold
}

.product-details {
    padding: 10px;
}

.cart {
    background: #eee
}

.p-about {
    font-size: 12px
}

.table-shadow {
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
    box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42)
}

.type {
    font-weight: 400;
    font-size: 10px
}

label.radio {
    cursor: pointer
}

    label.radio input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        pointer-events: none
    }

    label.radio span {
        padding: 1px 12px;
        border: 2px solid #faf3e0;
        display: inline-block;
        color: #8f37aa;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 300
    }

    label.radio input:checked + span {
        border-color: #faf3e0;
        background-color: #b68973;
        color: #fff
    }

.credit-inputs {
    background: #fff;
    border-color: #fff;
}

    .credit-inputs::placeholder {
        font-size: 13px;
    }

.credit-card-label {
    font-size: 12px;
    font-weight: 300;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.form-control.credit-inputs:focus {
    background: #faf3e0;
    border: #fff;
    border-color: #faf3e0;
}

.line {
    border-bottom: 1px solid rgb(234, 191, 159)
}

.information span {
    font-size: 12px;
    font-weight: 500
}

.information {
    margin-bottom: 5px
}

.items {
    background-color: #ffff;
    -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08)
}

.checkout-button {
    background-color: #b68973;
    color: #fff;
}

.remove-product-icon {
    cursor:pointer;
}

.btn-quantity {
    cursor: pointer;
    width: 20px;
    font-size: 14px;
}

.quantity-group {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 30px;
    justify-content: center;
}


/********************* LOGIN CSS ********************/

.submit-button {
      background-color: #b68973;
    color: #fff;
}

/*********************** USER PROFILE CSS ***********************/
.detailList li {
    list-style: none;
}

.edit-profile-button {
    background-color: #b68973;
    color: #fff;
}