@model IEnumerable<BookStore.Models.Book>

@{
    ViewData["Title"] = "List";
}

<link rel="stylesheet" href="~/css/book/list.css" />
<link rel="stylesheet" href="css/bootstrap.min.css">
@section Scripts
{
    <script src="~/js/book/list.js"></script>
}
    <h1 class="navbar-title-text">הספרים שלנו</h1>


    <tbody>
        <div class="container">
                    <select id="GenreId" style="width:150px">
                        <option>זאנר</option>
                    </select>
                    <select id="AgeCategoryId" style="width:150px">
                        <option>קבוצת גיל</option>
                    </select>
                
                    <div class="row row-cols-auto">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-3">
                                <div class="small-box-c">
                                    
                                    <div class="small-img-b">
                                        <a asp-action="Details" asp-route-id="@item.ID">
                                            <img class="img-responsive" src=@Html.DisplayFor(modelItem => item.Picture.Url) alt="#" />
                                        </a>
                                    </div>
                                        <div class="dit-t clearfix">
                                            <div class="right-ti">
                                                <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                                                <p>@Html.DisplayFor(modelItem => item.Author.Name)</p>
                                            </div>
                                            <a tabindex="0">₪@Html.DisplayFor(modelItem => item.Price)</a>
                                        </div>

                                        <button type="button" class="btn-cart"><i class="cart-image"></i></button>
                                    
                                </div>
                            </div>
                        }
                    </div>
        </div>

    </tbody>







    
