@model IEnumerable<BookStore.Models.Book>

@{
    ViewData["Title"] = "List";
}

<link rel="stylesheet" href="~/css/book/list.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
@section Scripts
{
    <script src="~/js/book/list.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"</script>
}
<h1 class="navbar-title-text">הספרים שלנו</h1>


<tbody>
    <div class="container">
        <select onchange="bookFilter()" id="GenreId" style="width:150px">
            <option>זאנר</option>
        </select>
        <select onchange="bookFilter()" id="AgeCategoryId" style="width:150px">
            <option>קבוצת גיל</option>
        </select>

        <div id="booksFilter">
            @Html.Partial("listPartial", Model);
        </div>
        





    </div>

</tbody>








