
@{
    ViewData["Title"] = "Cart";
}

<div class="container mt-5 px-3 pt-3 pb-5 rounded cart">
    <div class="row no-gutters">
        <div class="col-md-12">
            <div class="product-details mr-2">
                <div class="d-flex flex-row align-items-center">
                    <span class="ml-1 font-weight-bolder">סל הקניות</span>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <span>יש 4 פריטים בסל הקניות שלך</span>
                    <div class="d-flex flex-row align-items-center">
                        <span dir="rtl" class="text-black-50">מיין לפי:</span>
                        <div class="dropdown px-2">
                            <button id="labelChanged" class="btn btn-secondary dropdown-toggle"
                                    type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                בחר
                            </button>
                            <div id="sortBy" class="dropdown-menu">
                                <a id="sortPrice" dir="rtl" class="dropdown-item align-items-center" value="price">מחיר</a>
                                <a id="sortDic" dir="rtl" class="dropdown-item justify-content-center" value="dic">א-ב</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    @Html.Partial("cartItem")
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div>
                @Html.Partial("cartShipping")
            </div>
        </div>
        <div class="col-md-4">
            <div>
                @Html.Partial("cartPayment")
            </div>
        </div>
    </div>
</div>


