
@{
    ViewData["Title"] = "CartPayment";
}

<div dir="rtl" class="payment-info">
    <div class="d-flex justify-content-between align-items-center">
        <span>פרטי אשראי</span>
        <img class="rounded" src="https://i.imgur.com/WU501C8.jpg" width="30">
    </div>
    <label class="credit-card-label my-2">חברת אשראי</label>
    <label class="radio ml-2">
        <input type="radio" name="card" value="payment" checked>
        <span><img width="30" src="https://img.icons8.com/color/48/000000/mastercard.png" /></span>
    </label>
    <label class="radio ml-2">
        <input type="radio" name="card" value="payment">
        <span><img width="30" src="https://img.icons8.com/officel/48/000000/visa.png" /></span>
    </label>
    <label class="radio ml-2">
        <input type="radio" name="card" value="payment">
        <span><img width="30" src="https://img.icons8.com/ultraviolet/48/000000/amex.png" /></span>
    </label>
    <label class="radio ml-2">
        <input type="radio" name="card" value="payment"> <span>
            <img width="30" src="https://img.icons8.com/officel/48/000000/paypal.png" />
        </span>
    </label>
    <div>
        <label class="credit-card-label my-2">שם בעל הכרטיס</label>
        <input type="text" class="form-control credit-inputs" placeholder="שם מלא">
    </div>
    <div>
        <label class="credit-card-label my-2">מספר אשראי</label>
        <input type="text" class="form-control credit-inputs" placeholder="0000 0000 0000 0000">
    </div>
    <div class="row">
        <div class="col-md-6">
            <label class="credit-card-label my-2">תוקף הכרטיס</label>
            <input type="text" class="form-control credit-inputs" placeholder="12/24">
        </div>
        <div class="col-md-6">
            <label class="credit-card-label my-2">CVV</label>
            <input type="text" class="form-control credit-inputs" placeholder="342">
        </div>
    </div>
    <hr class="line">
    <div class="d-flex justify-content-between information">
        <span>סכום קניה</span><span>80 ש"ח</span>
    </div>
    <div class="d-flex justify-content-between information">
        <span>משלוח</span><span>10 ש"ח</span>
    </div>
    <div class="d-flex justify-content-between information">
        <span>סה"כ לתשלום</span><span>90 ש"ח</span>
    </div>
    <button class="btn checkout-button btn-block d-flex justify-content-between mt-3" type="button">
        <span>שלם עכשיו</span>
        <span dir="rtl">90 ש"ח</span>
    </button>
</div>

