
@{
    ViewData["Title"] = "CartItem";
}

<div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
    <div class="d-flex flex-row">
        <img class="rounded" src="~/lib/pictures/murder_in_saturday_morining.png" width="40">
        <div class="mr-2">
            <span class="font-weight-bold d-block">רצח בשבת בבוקר - בתיה גור</span>
            <span dir="rtl" class="product-quantity mx-2">כמות: 2</span>
        </div>
    </div>
    <div class="d-flex flex-row align-items-center">
        <span class="d-block ml-5 font-weight-bold">30 ש"ח</span>
        <i class="fa fa-trash-o ml-3 text-black-50 remove-product-icon"></i>
    </div>
</div>
<div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
    <div class="d-flex flex-row">
        <img class="rounded" src="~/lib/pictures/murder_in_saturday_morining.png" width="40">
        <div class="mr-2">
            <span dir="rtl" class="font-weight-bold d-block">רצח בשבת בבוקר - בתיה גור</span>
        </div>
        <div class="d-flex center row-3 px-3">
            <div class="input-group quantity-group m-2">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="quant[2]">
                        <span class="text-center">-</span>
                    </button>
                </span>
                <input type="text" name="quant[2]" class="form-control input-number" value="10" min="1" max="100">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]">
                        <span class="text-center">+</span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row align-items-center">
        <span class="d-block ml-5 font-weight-bold">30 ש"ח</span>
        <i class="fa fa-trash-o ml-3 text-black-50 remove-product-icon"></i>
    </div>
</div>
<div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
    <div class="d-flex flex-row">
        <img class="rounded" src="~/lib/pictures/murder_in_saturday_morining.png" width="40">
        <div class="ml-2">
            <span class="font-weight-bold d-block mx-2">רצח בשבת בבוקר - בתיה גור</span>
            <span dir="rtl" class="product-quantity mx-2">כמות: 4</span>
        </div>
    </div>
    <div class="d-flex flex-row align-items-center">
        <span class="d-block ml-5 font-weight-bold">30 ש"ח</span>
        <i class="fa fa-trash-o ml-3 text-black-50 remove-product-icon"></i>
    </div>
</div>
<div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
    <div class="d-flex flex-row">
        <img class="rounded" src="~/lib/pictures/murder_in_saturday_morining.png" width="40">
        <div class="ml-2">
            <span class="font-weight-bold d-block mx-2">רצח בשבת בבוקר - בתיה גור</span>
            <span dir="rtl" class="product-quantity mx-2">כמות: 2</span>
        </div>
    </div>
    <div class="d-flex flex-row align-items-center">
        <span class="d-block ml-5 font-weight-bold">30 ש"ח</span>
        <i class="fa fa-trash-o ml-3 text-black-50 remove-product-icon"></i>
    </div>
</div>

