<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="navbar header-background my-0">
                <div class="col-2 align-items-center">
                    <a class="d-inline-block" href="/">
                        <img src="~/lib/pictures/login.png" width="60" class="my-2"/>
                    </a>
                </div>
                <div class="col-3">
                    <input class="search-font float-right my-2" dir="rtl" />
                    <img src="~/lib/pictures/search.png" width="40" class="float-right mx-2 my-2" />
                </div>
                <div class="col-3">
                </div>
                <div class="col-4">
                    <a href="/">
                        <img src="~/lib/pictures/logo.png" width="140" class="float-right"/>
                        <h1 dir="rtl" class="logo-title my-2 mx-2">ספרים שאוהבים</h1>
                    </a>
                </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BookStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
