<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/fonts/Rubik/stylesheet.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/20e0da4301.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="header-grid header p-1">
            <div>
                <a href="/" class="navbar-title">
                    <img src="~/lib/pictures/logo.png" class="navbar-title-image" />
                    <h1 class="navbar-title-text">ספרים שאוהבים</h1>
                </a>
            </div>
            <div class="d-flex align-items-center mx-3">
                <input class="navbar-search-input form-control" placeholder="חיפוש" />
                <i class="search-icon mx-1"></i>
            </div>
            <div class="align-items-center m-3">
                <i class="account-icon"></i>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer id="footer" class="flex-shrink-0 py-4 bg-dark text-white-50 footer-container">
        <div class="container text-center footer-about-text">
            <form style="display: inline" action="/Home/About" method="get">
                <button class="btn btn-dark footer-about-button">הכירו אותנו</button>
            </form>            
        </div>
        <div class="container text-center">
            <small>Copyright &copy; www.adoredbooks.com</small>
        </div>
    </footer>
    <div class="cart-container">
        <i class="cart-container-image">
            <span class="cart-container-number" name="cart-item-count">1</span>
        </i>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/transactions/cart.js" asp-append-version="true"></script>
    <script defer>
        updateCartBookCountElements();
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
