
@{
    ViewData["Title"] = "About";
}

<div class="container py-3 text-right">
    <div class="row d-flex py-2">
        <h1 dir="rtl">
            קצת עלינו
        </h1>
    </div>
    <div dir="rtl" class="row">
        <h7>
            פרויקט זה נבנה במסגרת קורס "פיתוח אפליקציות אינטרנטיות" במכללה למנהל.
        </h7>
    </div>
    <div dir="rtl" class="row">
        <h7>
            הפרויקט מדמה חנות ספרים דיגיטלית אשר ניתן להזמין בהספרים ממגוון ז'אנרים אהובים, ולאסוף מנקודות איסוף נהדרות ברחבי הארץ.
        </h7>
    </div>
    <ul class="container detailList list-unstyled py-4">
        <li class="mb-1 justify-content-start row">
            <i class="fas fa-phone-alt ml-4 text-black-50"></i>
            <p>03-444-3332 ימים א-ה, בין השעות 9:00-13:00</p>
        </li>
        <li class="mb-1 justify-content-start row">
            <i class="far fa-envelope ml-4 text-black-50"></i>
            <p>adoredbooks@gmail.com</p>
        </li>
    </ul>
</div>

