@model IEnumerable<BookStore.Models.PickupLocation>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/pickUpLocations/managePickUpLocations.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

<section class="vh-100 gradient-custom">
    <div class="container py-3 h-30">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-10 col-xl-10">
                <div class="card bg-dark text-white login-card-border">
                    <div class="card-body p-8 text-center">
                        <h2 class="fw-bold mb-2 text-uppercase py-2">נהל את מקומות האיסוף</h2>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="locations-table-text">עיר</label>
                                    </th>
                                    <th>
                                        <label class="locations-table-text">רחוב</label>
                                    </th>
                                    <th>
                                        <label dir="rtl" class="locations-table-text">פעיל/לא פעיל</label>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (@Model != null)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="locations-table-text">
                                                @Html.DisplayFor(modelItem => item.City)
                                            </td>
                                            <td class="locations-table-text">
                                                @Html.DisplayFor(modelItem => item.Street)
                                            </td>
                                            <td class="locations-table-text">
                                                @Html.DisplayFor(modelItem => item.IsValid)
                                            </td>
                                            <td class="locations-table-text">
                                                <a asp-action="Edit" asp-route-id="@item.ID">ערוך</a> |
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
